.headerContainer {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.iconContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.divider {
	border: none;
	border-left: 1px solid #000000;
	height: 26px;
	margin: 0 2px;
	opacity: 1;
}

.headerLog {
	color: inherit;
	text-decoration: inherit;
	font-size: 2.3rem;
	margin: 0;
}

.headerLogo h1 {
	margin: 0;
	display: flex;
}

.headerLogo h1 span {
	display: block;
	margin-right: 5px;
}
